/*
COLORS:
*/

$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-1: #87cefa;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-tertiary-medium: #4169e1;

$color-t-1: #f7dfd4;
$color-t-2: #eabcac;
$color-t-3: #e2bd91;
$color-t-4: #874e4c;
$color-t-5: #4b3621;

$color-grey: #777;
$color-grey-light: #eee;
$color-grey-1: #999;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-3: #333;


//Grid
$grid-width: 98%;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;
$gutter-tab-land: 4.5rem;

$default-font-size-1: 1.6rem;
$default-font-size-0: 1.5rem;
$default-font-size-2: 1.7rem;
$default-font-size-3: 2.5rem;
$default-font-size-4: 2rem;

$secondary-font: "Zeyada", sans-serif;

